/* shared style */
* {
    padding: 0px;
    margin: 0px;
}

/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Work+Sans:wght@600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* primary button */
.primary-btn {
    border-radius: 8px;
    border: none;
    background-color: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
}

/* primary description */
.primary-description,
.quick-list {
    color: #727272;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* header section style */
header {
    max-width: 1920px;
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 220px;
}

/* navbar style */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nav-container>.logo {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-container>ul {
    display: flex;
    gap: 30px;
    /* border: 2px solid red; */
}

.nav-container li {
    list-style: none;
    font-weight: 500;
    font-size: 1rem;

}

.nav-container li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main section style */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* quick list section style */
.quick-list-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.img-container img {
    width: 342px;
    height: 342px;
}

.team-container {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 2.5rem;
    font-weight: 500;

}

.of-our {
    color: #131313;
}

.features {
    color: #FF900E;
}




/* responsive media query */
/* mobile screen or small device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .nav-container,
    .nav-container>ul,
    .quick-list-section {
        flex-direction: column;
    }

    .nav-container>ul {
        text-align: center;
        margin-top: 20px;
    }

    .img-container {
        grid-template-columns: 1fr;
    }

    .team-container {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* table or medium screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    .nav-container,
    .quick-list-section {
        flex-direction: column;
    }

    .nav-container>ul {
        margin-top: 50px;
    }
    .team-container {
        text-align: center;
    }
}